@import 'styles/shared.scss';

.container {
    margin: 0 auto;

    width: 320px;
    padding: 0 20px;

    @include for-size(tablet) {
        width: 768px;
        padding: 0 40px;
    }
    @include for-size(desktop) {
        width: 1200px;
        padding: 0 15px;
    }

    // @media screen and (min-width: 768px) {
    //     width: 768px;
    //     padding: 0 40px;
    // }

    // @media screen and (min-width: 1200px) {
    //     width: 1200px;
    //     padding: 0 15px;
    // }
}
