.elipse1 {
    position: absolute;
    bottom: -39%;
    right: 84%;
    z-index: 0;
}

.elipse2 {
    position: absolute;
    right: 85%;
    bottom: -40%;
    opacity: 0.9;
    z-index: 6;
}

.elipse3 {
    position: absolute;
    top: 43%;
    left: -44%;
}

.elipse4 {
    position: absolute;
    top: 17%;
    left: -21%;
}

.elipse5 {
    position: absolute;
    top: -38px;
    right: -34px;
    z-index: 5;
}

.elipse6 {
    position: absolute;
    top: -15px;
    right: -200px;
}

.union_white {
    position: absolute;
    left: 62%;
    bottom: -39%;
    z-index: 0;
}

.union_orange {
    position: absolute;
    z-index: 3;
    left: 65%;
    bottom: -150px;
}
