@import 'styles/shared.scss';

// .projectsContainer {
//     // position: relative;
// }

.projectsTitle {
    font-family: 'Montserrat', sans-serif;
    color: #181c27;
    font-weight: 500;
    font-size: 26px;
    line-height: 32px;
    letter-spacing: 0.04em;

    margin-top: 20px;
    margin-bottom: 36px;

    @include for-size(tablet) {
        font-size: 36px;
        line-height: 44px;

        margin-top: 40px;
        margin-bottom: 30px;
    }

    // @include for-size(desktop){

    // }
}

.projectsList {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    min-width: 280px;

    @include for-size(tablet) {
        min-width: 688px;
    }

    @include for-size(desktop) {
        min-width: 1170px;
    }
}

.projectsListItem {
    width: calc(100% / 2 - 10px);
    margin-right: 10px;
    margin-bottom: 10px;
    cursor: pointer;

    @include for-size(tablet) {
        width: calc(100% / 3 - 20px);
        margin-right: 20px;
        margin-bottom: 20px;

        background-image: url(../../assets/icons/wave1.svg),
            url(../../assets/icons/wave2.svg);
        background-position: left bottom;
        // background-position: 0px 0px, 30px 0px;
        // background-position: left 30px bottom 20px;
        background-size: auto;
        background-repeat: no-repeat;
    }

    @include for-size(desktop) {
        width: calc(100% / 4 - 30px);
        margin-right: 30px;
        margin-bottom: 30px;
    }
}

.projectsItemContainer {
    position: relative;
    padding: 10px;
    width: 136px;
    height: 136px;
    border-radius: 5px;

    @include for-size(tablet) {
        // position: relative;
        padding: 20px;
        width: 216px;
        height: 216px;
    }

    @include for-size(desktop) {
        // position: relative;
        padding: 30px;
        width: 270px;
        height: 270px;
    }
}

.projectsListItemTitle {
    margin: 0;
    padding: 0;
    margin-bottom: 6px;
    max-width: 116px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-weight: 800;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.04em;

    @include for-size(tablet) {
        margin-bottom: 10px;
        max-width: 176px;
        font-size: 26px;
        line-height: 32px;
    }

    @include for-size(desktop) {
        margin-bottom: 20px;
        max-width: 210px;
    }
}

.projectsListItemDescr {
    margin: 0;
    padding: 0;
    max-width: 116px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 0.04em;

    @include for-size(tablet) {
        max-width: 176px;
        font-size: 14px;
        line-height: 17px;
    }

    @include for-size(desktop) {
        max-width: 210px;
    }
}

.deleteBtn {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background-color: #ffffff;
    border: none;
    outline: none;
    right: 10px;
    bottom: 10px;

    @include for-size(tablet) {
        width: 34px;
        height: 34px;
    }
}

.deleteBtnIcon {
    width: 16px;
    height: 16px;

    @include for-size(tablet) {
        width: 18px;
        height: 18px;
    }
}
