@import 'styles/shared.scss';

.asideBack {
    width: 320px;
    margin: 0 auto;
    display: flex;
    padding: 0 20px;

    @include for-size(tablet) {
        width: calc(100% - 20px);
        padding: 0;
        margin: 20px 0 0 0;
    }
}

.backLink {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-decoration: none;
}

.backSvg {
    width: 30px;
    height: 10px;
    margin-right: 21px;
}

.asideBackText {
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.04em;
    color: $primaryTextColor;
}
