.elipse1 {
    position: absolute;
    // min-width: 298px;
    // height: 298px;
    bottom: -28%;
    right: 86%;

    z-index: 0;
}

.elipse2 {
    position: absolute;
    // min-width: 252px;
    // height: 252px;
    right: 87%;
    bottom: -21%;
    opacity: 0.9;
    z-index: 6;
}

.elipse4 {
    position: absolute;
    // min-width: 48px;
    // height: 48px;
    top: 17%;
    left: -18%;
}

.elipse5 {
    position: absolute;
    // min-width: 78px;
    // height: 78px;
    top: -38px;
    right: -34px;
}

.union_orange {
    position: absolute;
    // min-width: 542px;
    // height: 502px;
    z-index: -2;
    left: 73%;
    bottom: -75px;
}
