@import 'styles/shared.scss';

// ========= Header ==============
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px 0px 14px 0px;

    @include for-size(tablet) {
        padding: 19px 20px 19px 20px;
    }
    @include for-size(desktop) {
        padding: 19px 25px 19px 25px;
    }
    // .iconAnalytics {
    //     padding: 0;
    //     display: flex;
    //     align-items: center;
    //     justify-content: center;
    //     width: 30px;
    //     height: 30px;
    // }
}

.logo {
    width: 100px;
    height: 30px;
    @include for-size(tablet) {
        width: 140px;
        height: 42px;
    }
}

// ========= AppBar ==============

.appBar {
    display: flex;
    align-items: center;
    max-width: 245px;

    font-size: 14px;
    font-weight: 600;
    line-height: 1.21;
    letter-spacing: 0.04em;

    color: $primaryTextColor;
}

.logoutButton {
    display: flex;
    align-items: center;
    margin-left: 20px;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    cursor: pointer;
    background-color: #a6a6a6;

    @include for-size(tablet) {
        padding: 0;
        margin-left: 77px;
        width: 100px;
        background-color: transparent;
    }
}

.logoutSvg {
    width: 18px;
    height: 18px;
    fill: $primaryBgColor;
    @include for-size(tablet) {
        fill: rgba(24, 28, 39, 0.6);
    }
}

.logoutText {
    display: none;
    font-size: 14px;
    line-height: 1.21;
    letter-spacing: 0.04em;
    color: rgba(24, 28, 39, 0.6);
    @include for-size(tablet) {
        display: block;
        white-space: nowrap;
        margin-left: 10px;
    }
}
