@import 'styles/shared.scss';

.chartBox {
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0px 6px 26px rgba(0, 5, 97, 0.1);
    background-color: $accentTextColor;
}
.modalBox {
    position: relative;
    width: 859px;
    height: 424px;
    overflow-x: scroll;
    overflow-y: hidden;

    // overflow: hidden;
    // overflow: scroll;

    @include for-size(tablet) {
        width: 688px;
        height: 340px;
        // overflow: hidden;
    }
    @include for-size(desktop) {
        width: 933px;
        height: 461px;
    }
}

.closeButton {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 0;
    border-radius: 50%;
    width: 30px;
    height: 30px;

    top: 10px;
    right: 10px;

    &:hover {
        background-color: $primaryAccentColor;
        fill: white;
    }
}

.closeSvg {
    width: 18px;
    height: 18px;
}
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(24, 28, 39, 0.25);
    z-index: 1200;
}

.modalBox::-webkit-scrollbar {
    width: 24px; /* ширина для вертикального скролла */
    height: 8px; /* высота для горизонтального скролла */
    background-color: #ff6b08;
    cursor: pointer;
}

/* ползунок скроллбара */
.modalBox::-webkit-scrollbar-thumb {
    border-radius: 2px;
    box-shadow: 0px 1px 4px rgba(255, 107, 8, 0.3);
}

.modalBox::-webkit-scrollbar-thumb:hover {
    background-color: #253861;
}
