@import 'styles/shared.scss';
.sprintCard {
    background: #ffffff;
    box-shadow: 0px 6px 26px rgba(0, 5, 97, 0.1);
    border-radius: 5px;
    padding: 20px 20px 50px 20px;
    margin-top: 10px;
    width: 100%;
    position: relative;
    @include for-size(tablet) {
        margin-top: 20px;
        margin-left: 20px;
        flex-basis: calc(100% / 2 - 20px);
    }
    @include for-size(desktop) {
        display: flex;
        margin-top: 10px;
        padding: 20px;
        flex-basis: 100%;
        align-items: center;
    }
    &:hover,
    &:focus {
        box-shadow: 2px 7px 26px rgba(0, 5, 97, 0.5);
        transform: scale(1.07);
        transition: 250ms;
    }
}

.sprintCardHead {
    margin: 0;
    padding-bottom: 8px;
    border-bottom: 1px solid rgba(24, 28, 39, 0.2);
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.04em;
    color: $primaryTextColor;
    @include for-size(desktop) {
        width: 170px;
        margin: 0 30px 0 0;
    }
}

.sprintCardList {
    @include for-size(desktop) {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
    }
}
.sprintItem {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    align-items: baseline;

    @include for-size(tablet) {
        align-items: stretch;
    }

    @include for-size(desktop) {
        margin-top: 0;
        width: 200px;
    }
}

.sprintItemPoint {
    font-weight: normal;
    font-size: 10px;
    line-height: 1.2;
    letter-spacing: 0.04em;
    color: $primaryTextColor;

    @include for-size(tablet) {
        font-size: 14px;
        line-height: 1.2;
    }
}
.sprintItemData {
    composes: sprintItemPoint;
}

.sprintItemDataInput {
    composes: sprintItemPoint;
    border: none;
    text-align: right;
    border-bottom: 1px solid rgba(24, 28, 39, 0.2);
    width: 60px;
    font-size: 14px;
    line-height: 1.2;
    @include for-size(tablet) {
        width: 77px;
        font-size: 18px;
        line-height: 1.2;
    }
    @include for-size(desktop) {
        width: 106px;
        text-align: left;
    }
}

.sprintItemText {
    composes: sprintItemPoint;
    width: 143px;
    @include for-size(tablet) {
        width: 98px;
    }
    @include for-size(desktop) {
        display: none;
    }
}

.deleteSvg {
    display: block;
    width: 20px;
    height: 20px;
    bottom: 0;
    right: 0;

    &:hover {
        transform: scale(1.2);
        transition: 250ms;
    }
}

.btnDlt {
    border: 0;
    padding: 0;
    background-color: inherit;
    position: absolute;
    right: 10px;
    bottom: 10px;
    @include for-size(desktop) {
        position: static;
    }
}

.taskInputError {
    position: absolute;
    font-size: 10px;
    line-height: 1.2;
    color: red;
    bottom: -14px;
    right: 1px;

    @include for-size(tablet) {
        right: 1px;
    }
    @include for-size(desktop) {
        right: 45px;
    }
}
