@import 'styles/shared.scss';

ul {
    padding: 0;
}

.wrap {
    // width: 768px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}




.sprintsList {
    list-style: none;
    padding: 0;
    @include for-size(tablet) {
        display: flex;
        flex-wrap: wrap;
        margin-left: -20px;
        margin-top: -20px;
    }

    @include for-size(descktop) {
        flex-direction: column;
    }
}
