// Основной фон
$primaryBgColor: #f1f2f7;
$primaryAccentColor: #ff6b08;

// $primaryBackgroundColor: #e5e5e5;
$primaryRegisterFormBackgroundColor: #fafafa;

$primaryTextColor: #181c27;
$secondaryTextColor: rgba(24, 28, 39, 0.6);
$secondaryTextLineColor: rgba(24, 28, 39, 0.2);

$baseTextColor: #000000;
$accentTextColor: #ffffff;

$accentProjectColorOne: #8c72df;
$accentProjectColorTwo: #ff765f;
$accentProjectColorOne: #71df87;
