@import 'styles/shared.scss';

.form {
    text-align: left;
}

.titleLabel {
    position: relative;

    display: block;
    margin-bottom: 40px;

    @include for-size(tablet) {
        margin-bottom: 52px;
    }
}

.titleInp {
    width: 100%;
    padding: 8px;

    border-style: none none solid;
    border-width: 1px;
    border-color: $secondaryTextLineColor;
    outline: none;

    line-height: 1.25;
    letter-spacing: 0.04em;
    color: $primaryTextColor;

    @include for-size(tablet) {
        font-size: 18px;
    }
}

.titleLabelText {
    position: absolute;
    top: 8px;
    left: 8px;

    line-height: 1.25;
    letter-spacing: 0.04em;
    color: $secondaryTextColor;

    transition: all 200ms linear;

    @include for-size(tablet) {
        font-size: 18px;
    }
}

.titleLabelText {
    .titleInp:not(:placeholder-shown) + &,
    .titleInp:focus + & {
        top: 0;
        left: 0;
        transform: translateY(-100%);
    }
}

.errorText {
    position: absolute;
    left: 30px;
    bottom: -2px;
    transform: translateY(100%);

    font-size: 14px;
    color: $primaryAccentColor;
}

.isPrevDaysWrapper {
    //
}

.isPrevDaysText {
    display: flex;
    align-items: center;

    &::before {
        display: inline-block;
        content: '';
        width: 34px;
        height: 34px;
        padding: 9px;

        border-radius: 50%;
        border: 1px solid #d1d2d4;
        background-clip: content-box;
    }
}

.isPrevDaysCb {
    &:checked + .isPrevDaysText::before {
        background-color: aqua;
    }
}
