@import 'styles/shared.scss';

// .box {
//     display: flex;
//     flex-direction: column;
// }

.datePicker {
    width: 280px;
    padding: 7px;

    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.04em;
    color: $primaryTextColor;
    border: none;
    border-bottom: 1px solid rgba(24, 28, 39, 0.2);

    @include for-size(tablet) {
        width: 200px;
    }
}
