.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(24, 28, 39, 0.25);
    z-index: 1200;
}

// .content {
// // 📌 Добавить стили контента модалки
// }
