@import 'styles/shared.scss';

// // .projectsContainer {
// //     // position: relative;
// // }

// .projectsTitle {
//     font-family: 'Montserrat', sans-serif;
//     color: #181c27;
//     font-weight: 500;
//     font-size: 26px;
//     line-height: 32px;
//     letter-spacing: 0.04em;

//     margin-top: 20px;
//     margin-bottom: 36px;

//     @include for-size(tablet) {
//         font-size: 36px;
//         line-height: 44px;

//         margin-top: 40px;
//         margin-bottom: 30px;
//     }

//     // @include for-size(desktop){

//     // }
// }

// .projectsList {
//     list-style: none;
//     display: flex;
//     flex-wrap: wrap;
//     margin: 0;
//     padding: 0;
//     min-width: 280px;

//     @include for-size(tablet) {
//         min-width: 688px;
//     }

//     @include for-size(desktop) {
//         min-width: 1170px;
//     }
// }

.projectsListItem {
    width: calc(100% / 2 - 10px);
    margin-right: 10px;
    margin-bottom: 10px;
    cursor: pointer;

    @include for-size(tablet) {
        width: calc(100% / 3 - 20px);
        margin-right: 20px;
        margin-bottom: 20px;

        background-image: url(../../../assets/projectsImages/wave1.svg),
            url(../../../assets/projectsImages/wave2.svg);
        background-position: left bottom;
        // background-position: 0px 0px, 30px 0px;
        // background-position: left 30px bottom 20px;
        background-size: auto;
        background-repeat: no-repeat;
    }

    @include for-size(desktop) {
        width: calc(100% / 4 - 30px);
        margin-right: 30px;
        margin-bottom: 30px;
    }
}

.projectsItemContainer {
    position: relative;

    width: 136px;
    height: 136px;
    border-radius: 5px;

    @include for-size(tablet) {
        position: relative;
        padding: 20px;
        width: 216px;
        height: 216px;
    }

    @include for-size(desktop) {
        position: relative;
        padding: 30px;
        width: 270px;
        height: 270px;
    }
}

// .projectsListItemTitle {
//     margin: 0;
//     padding: 0;
//     margin-bottom: 6px;
//     max-width: 116px;
//     font-family: 'Montserrat', sans-serif;
//     color: #ffffff;
//     font-weight: 800;
//     font-size: 16px;
//     line-height: 20px;
//     letter-spacing: 0.04em;

//     @include for-size(tablet) {
//         margin-bottom: 10px;
//         max-width: 176px;
//         font-size: 26px;
//         line-height: 32px;
//     }

//     @include for-size(desktop) {
//         margin-bottom: 20px;
//         max-width: 210px;
//     }
// }

// .projectsListItemDescr {
//     margin: 0;
//     padding: 0;
//     max-width: 116px;
//     font-family: 'Montserrat', sans-serif;
//     color: #ffffff;
//     font-size: 10px;
//     line-height: 12px;
//     letter-spacing: 0.04em;

//     @include for-size(tablet) {
//         max-width: 176px;
//         font-size: 14px;
//         line-height: 17px;
//     }

//     @include for-size(desktop) {
//         max-width: 210px;
//     }
// }

// .deleteBtn {
//     position: absolute;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     border-radius: 50%;
//     width: 30px;
//     height: 30px;
//     background-color: #ffffff;
//     border: none;
//     outline: none;
//     right: 10px;
//     bottom: 10px;
//     cursor: pointer;

//     @include for-size(tablet) {
//         width: 34px;
//         height: 34px;
//     }
// }

// .deleteBtnIcon {
//     width: 16px;
//     height: 16px;

//     @include for-size(tablet) {
//         width: 18px;
//         height: 18px;
//     }
// }

.title {
    margin: 20px 0px 36px 10px;

    font-weight: 500;
    font-size: 26px;
    line-height: 32px;
    display: flex;
    align-items: center;
    letter-spacing: 0.04em;

    color: #181c27;
}

.projectsList {
    list-style: none;

    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;

    width: 290px;
    margin: 0 auto;
}

.projectsListItem {
    position: relative;
    width: 136px;

    height: 136px;

    padding: 10px;

    background: #8c72df;
    border-radius: 5px;
    transition: all 0.25s linear;
}

.projectsListItem:hover {
    cursor: pointer;
    transform: scale(1.03);
    box-shadow: 1px 3px 5px 1px rgba(0, 0, 0, 0.4);
}

/*! button - add project */

.btnAdd {
    width: 44px;
    height: 44px;

    margin-left: auto;
    margin-top: 50px;
    right: 20px;
    bottom: 20px;

    background: #ff6b08;

    box-shadow: 0px 3px 4px rgba(255, 107, 8, 0.3);
    border-radius: 50%;
    border: none;
    outline: none;
    cursor: pointer;
    transition: all 0.25s linear;
}

.btnAddIcon {
    position: absolute;
    /* left: 3px;
    top: 7px; */
    left: 12px;
    top: -40px;

    font-weight: 200;
    font-size: 36px;
    line-height: 52px;
    color: #fff;
    /* z-index: 10; */
    transition: all 0.25s linear;
}

.btnAdd:hover,
.btnAdd:focus {
    transform: scale(1.15);
}

/* ! icon-exit svg */
.iconExit {
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
}

.addProjectText {
    display: none;
}

/* !  ------------------TABLET ver.------------------ */
@media screen and (min-width: 768px) {
    .title {
        margin-top: 40px;
        margin-left: 0px;
        margin-bottom: 30px;

        font-size: 36px;
        line-height: 44px;
    }

    .projectsList {
        justify-content: flex-start;
        width: 700px;
    }

    .projectsListItem {
        width: 216px;
        height: 216px;
        margin: 0px;
        padding: 20px;

        background: #8c72df;
        border-radius: 5px;
        transition: all 0.25s linear;
    }

    .projectsListItem:hover {
        box-shadow: 3px 9px 5px 1px rgba(0, 0, 0, 0.4);
    }

    .btnAdd {
        position: fixed;
        right: 53px;
        top: 80px;
    }
}

/* ! ------------------DESKTOP ver.------------------ */
@media screen and (min-width: 1200px) {
    .title {
        margin-left: 30px;
        margin-bottom: 30px;
    }
    .projectsList {
        justify-content: flex-start;

        width: 1200px;
        margin: 0 auto;
    }

    .projectsListItem {
        width: 270px;
        height: 274px;

        padding: 28px 30px 10px 30px;

        background: #8c72df;
        border-radius: 5px;
        transition: all 0.25s linear;
    }

    .projectsListItem:hover {
        box-shadow: 5px 10px 5px 1px rgba(0, 0, 0, 0.4);
    }

    .btnAdd {
        position: fixed;
        right: 281px;
        top: 70px;
    }

    .addProjectText {
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        display: flex;
        align-items: center;
        letter-spacing: 0.04em;
        color: #181c27;

        display: block;

        position: absolute;
        right: 78px;
        top: 113px;
    }

    .projectDescription {
        opacity: 0;
    }
    .projectsListItem:hover .projectDescription {
        opacity: 1;
        cursor: pointer;
    }

    .projectsNone {
        font-weight: 600;
        font-size: 32px;
        line-height: 1.222;
        letter-spacing: 0.04em;

        display: flex;
        align-items: center;
        color: grey;

        display: block;

        position: absolute;
        left: 5%;
        top: 45%;
    }
}

/*============================================ Отступы ProjectList Item= ============================= */

@media screen and (max-width: 766px) {
    .projectsListItem:not(:nth-child(2n)) {
        margin-right: 9px;
    }
    .projectsListItem:not(:nth-last-child(-n + 2)) {
        margin-bottom: 10px;
    }
}

@media screen and (min-width: 767px) and (max-width: 1199px) {
    .projectsListItem:not(:nth-child(3n)) {
        margin-right: 17px;
    }
    .projectsListItem:not(:nth-last-child(-n + 3)) {
        margin-bottom: 20px;
    }
}
@media screen and (min-width: 1199px) {
    .projectsListItem:not(:nth-child(4n)) {
        margin-right: 30px;
    }
    .projectsListItem:not(:nth-last-child(-n + 4)) {
        margin-bottom: 30px;
    }
}
