@import 'styles/shared.scss';

.sprintHead {
    display: flex;
    align-items: baseline;
}

.title {
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 1.23;
    letter-spacing: 0.04em;
    color: #181c27;
    margin: 0;
}

.textSvg {
    width: 20px;
    height: 20px;
}
