@import 'styles/shared.scss';

.addBtn {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;

    border-radius: 50%;
    background-color: #ff6b08;
    border-style: none;
    outline: none;
    cursor: pointer;
    box-shadow: 0px 3px 4px rgba(255, 107, 8, 0.3);
}

.addBtnIcon {
    width: 25px;
    height: 25px;

    fill: #ffffff;
}
