@import 'styles/shared.scss';

main {
    overflow: hidden;
}

.registerForm {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.registerFormInput {
    width: 280px;
    padding: 10px;
    border: none;
    border-bottom: 1px solid rgba(24, 28, 39, 0.2);
    color: rgba(24, 28, 39, 0.6);
    font-size: 16px;
    line-height: 19, 5px;
    letter-spacing: 0.04em;
    background-color: transparent;
    margin-bottom: 60px;
    outline: none;
}
.registerFormInput.isinvalid {
    border-bottom: 1px solid red;
    color: red;
}

.registerFormTitle {
    font-family: Montserrat;
    font-weight: 500;
    font-size: 26px;
    line-height: 31, 69px;
    letter-spacing: 0.04em;
    color: #181c27;
    margin-top: 47px;
    margin-bottom: 30px;
    text-align: center;
}

.registerPageButton {
    cursor: pointer;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;

    letter-spacing: 0.04em;

    width: 260px;
    height: 44px;
    margin: 0 auto;
    color: #ffffff;

    background: #ff6b08;
    border: none;
    box-shadow: 0px 3px 4px rgba(255, 107, 8, 0.3);
    border-radius: 25px;
}

.registerFormText {
    font-family: Montserrat;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.04em;
    color: rgba(24, 28, 39, 0.6);
}
.errorMessageEmail {
    position: absolute;
    top: 216px;
    color: rgba(24, 28, 39, 0.6);
}

.errorMessagePassword {
    position: absolute;
    // max-width: 300px;
    top: 312px;
    color: rgba(24, 28, 39, 0.6);
}
.errorMessageConfirmPassword {
    position: absolute;

    color: rgba(24, 28, 39, 0.6);
    top: 412px;
}
@media (min-width: 768px) {
    .formWraper {
        position: relative;

        width: 570px;
        height: 540px;
        margin-top: 114px;
        margin-bottom: 290px;
        margin-left: auto;
        margin-right: auto;
        background: #fafafa;
        box-shadow: 0px 6px 26px rgba(0, 5, 97, 0.1);
        border-radius: 5px;
    }
    .registerForm {
        width: 570px;
        height: 540px;
        margin-top: 114px;
        margin-bottom: 290px;
        margin-left: auto;
        margin-right: auto;
        background: #fafafa;
        box-shadow: 0px 6px 26px rgba(0, 5, 97, 0.1);
        border-radius: 5px;
    }

    .registerFormTitle {
        font-size: 36px;
    }
    .errorMessageEmail {
        top: 165px;
    }

    .errorMessagePassword {
        top: 265px;
    }

    .errorMessageConfirmPassword {
        top: 365px;
    }
    .registerFormInput {
        width: 400px;
    }
}

@media (min-width: 1200px) {
    .registerForm {
        margin-top: 56px;
        margin-bottom: 75px;
    }
    .formWraper {
        margin-top: 56px;
        margin-bottom: 75px;
    }
}
