.registerForm {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.registerFormInput {
    width: 280px;
    padding: 10px;
    border: none;
    border-bottom: 1px solid rgba(24, 28, 39, 0.2);
    color: rgba(24, 28, 39, 0.6);
    font-size: 16px;
    line-height: 19, 5px;
    letter-spacing: 0.04em;
    background-color: transparent;
    margin-bottom: 60px;
    outline: none;
}

.registerFormTitle {
    font-family: Montserrat;
    font-weight: 500;
    font-size: 26px;
    line-height: 31, 69px;
    letter-spacing: 0.04em;
    color: #181c27;
    margin-top: 47px;
    margin-bottom: 30px;
    text-align: center;
}

.registerPageButton {
    cursor: pointer;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;

    letter-spacing: 0.04em;

    width: 260px;
    height: 44px;
    margin: 0 auto;
    color: #ffffff;

    background: #ff6b08;
    border: none;
    box-shadow: 0px 3px 4px rgba(255, 107, 8, 0.3);
    border-radius: 25px;
}

.registerFormText {
    font-family: Montserrat;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.04em;
    color: rgba(24, 28, 39, 0.6);
}
.errorMessageEmail {
    position: absolute;
    top: 225px;
    color: red;
}

.errorMessagePassword {
    position: absolute;
    top: 325px;
    color: red;
}
.errorMessageConfirmPassword {
    position: absolute;
    color: red;
    top: 425px;
}
@media (min-width: 768px) {
    .formWraper {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -52%);
        width: 570px;
        height: 454px;

        background: #fafafa;
        box-shadow: 0px 6px 26px rgba(0, 5, 97, 0.1);
        border-radius: 5px;
        z-index: 0;
    }
    .registerForm {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -52%);
        width: 570px;
        height: 540px;
        margin-top: 56px;
        background: #fafafa;
        box-shadow: 0px 6px 26px rgba(0, 5, 97, 0.1);
        border-radius: 5px;
        z-index: 5;
    }

    .registerFormTitle {
        font-size: 36px;
    }
    .errorMessageEmail {
        top: 165px;
    }

    .errorMessagePassword {
        top: 265px;
    }

    .errorMessageConfirmPassword {
        top: 365px;
    }
    .registerFormInput {
        width: 400px;
    }
}

// @media (min-width: 768px) and (max-width: 1279px) {
//     .container {
//         background-image: url('./authImages/EllipseTablet/Ellipse 2.svg'),
//             url('./authImages/EllipseTablet/Ellipse 1.svg'),
//             url('./authImages/EllipseTablet/Ellipse 4.svg'),
//             url('./authImages/EllipseTablet/Ellipse 5.svg'),
//             url('./authImages/EllipseTablet/Union1.svg');

//         background-position: top 446px left 0, top 437px left 0,
//             left 0 top 170px, right 70px top 33px, top 154px right 0;
//         background-repeat: no-repeat, no-repeat, no-repeat;
//     }
// }

// @media (min-width: 1200px) {
//     .container {
//         background-image: url('./authImages/EllipseDesktop/Group.svg'),
//             url('./authImages/EllipseDesktop/EllipseBig.svg'),
//             url('./authImages/EllipseDesktop/EllipseSmol.svg'),
//             url('./authImages/EllipseDesktop/Union-orange.svg'),
//             url('./authImages/EllipseDesktop/Union-white.svg');
//         background-position: bottom 0 left 111px, top 67px right 278px,
//             top 85px right 164px, bottom 33px right 0, bottom 5px right 0;
//         background-repeat: no-repeat;
//     }
// }
